.post{
    width: 500px;
    height: fit-content;
    border: 2px solid rgb(134, 133, 133);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    text-align: left;
    padding: 5px;
    
    
}
.title{
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.rating
{
    color: white;
    font-size: 30px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.Epicuria, .De, .Bruin
{
    min-height: 100vh;
}

/* .display
{
    height: 100%;
    background-image: url(../../../public/assets/epicuriaInside\(no\ people\).jpg);
    background-size: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-attachment: scroll; 
    background-repeat: no-repeat;  
    height: 100vh;
}

.Epicuria 
{
    background-image: url(../../../public/assets/epicuriaInside\(no\ people\).jpg);
    background-size: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-attachment: scroll; 
    background-repeat: no-repeat;  
    height: 100vh;
    
}

.De 
{
    background-image: url(../../../public/assets/DeNeve\(inside\).jpeg);
    background-size: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-attachment: fixed; 
    background-repeat: repeat;  
    height: 100vh;
}

.Bruin
{
    background-image: url(../../../public/assets/Bplate\(outside\).jpg);
    background-size: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-attachment: scroll; 
    background-repeat: no-repeat;  
    height: 100vh;
} */
