.post{
    width: 500px;
    height: fit-content;
    border: 2px solid rgb(134, 133, 133);
    margin-top: 10x;
    margin-left: auto;
    margin-right: auto;
    background: white;
    text-align: left;
    padding: 5px;
    justify-content: center;
    
}

.title{
    text-align: center;
}

.button{
    margin-right: 20px;
}